.navbar-brand img{
  width : 200px;
}

.main-header {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: left center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @include media-breakpoint-up(lg) {
    min-height: 90vh;
  }
}