.navbar-collapse {
  @include media-breakpoint-down(md) {
    .navbar-light .navbar-nav .nav-link {
      font-size: 2rem;
    }
  }
}

.main-menu {
  li a {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 1rem 0.25rem;
    color: $gris-fonce;
  }
  li.current-menu-item a,
  li a:hover {
    color: $gris-fonce;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 1rem;
      width: 20px;
      height: 2px;
      background-color: $gris-fonce;
      @include media-breakpoint-up(md) {
        left: calc(50% - 10px);
      }
    }
  }
}

.social-menu,
#menu-social-menu-1 {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  li a {
    font-size: 0;
    padding: 0.5rem 1rem 0.5rem 0;
    color: #000;
    &::before {
      font-family: ForkAwesome;
      font-size: 1.5rem;
    }
  }
  .menu-item-24 a::before {
    content: "\f082   ";
  }
  .menu-item-25 a::before {
    content: "\f16d";
  }
  .menu-item-26 a::before {
    content: "\f081";
  }
}

.navbar-nav.social-menu .nav-link {
  @include media-breakpoint-down(sm) {
    padding-right: 1rem;
  }
}

#menu-social-menu-1 li a::before {
  font-size: 2.25rem;
}