$orange: #D54414;
$blue: #278BBF;
$white: #fff;
$primary: $orange;
$secondary: $blue;
$font-family-base: 'Playfair Display',
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$navbar-toggler-font-size: 1.75rem;
$navbar-light-color: $primary;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-light-toggler-border-color: $white;

