$orange: #E2574C;
$gris-fonce  : #3C3C3C;
$gris-moyen  : #797979;
$gris-clair   : #F6F6F6;

$font-family-base: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-color      : $dark;
$enable-rounded  : false;
$border-width    : 2px;

$navbar-toggler-font-size         : 1.75rem;
$navbar-light-color               : $primary;
$navbar-light-hover-color         : $primary;
$navbar-light-active-color        : $primary;
$navbar-light-toggler-border-color: $white;
